@charset "UTF-8";

#container {
    display:table;
    table-layout:fixed;
    position:relative;
    width:1200px;
    min-height:100%;
    margin:0 auto;
}
#container:after {
    content:"";
    display:block;
    clear:both;
}

/*
    멤버시작
*/
.member {
    width:579px;
    margin:0 auto;
    padding:.30px 0;
}
.member h2 {
    color:#222;
    font-size:28px;
}
.member .member-only {
    padding:116px 0 0;
    background:url('../img/etc/members-only.png') no-repeat center top;
    color:#222;
    text-align:center;
}
.member .member-only strong {
    font-size:28px;
}
.member .member-only p {
    padding:10px 0 20px;
    font-size:16px;
}
.member .box {
    margin:17px 0 0;
    padding:53px 54px 59px;
    border:1px solid #dcdcdc;
}
.member .box h3 {
    padding:0 0 3px;
    color:#222;
    font-size:20px;
    font-weight:normal;
}
.member .box h3.tit-sns {
    padding:90px 0 12px;
}
.member .box h3.tit-nonmember {
    padding:90px 0 12px;
}
.member .box .login {
    overflow:hidden;
}
.member .box .login .input-info {
    float:left;
}
.member .box .login .input-info div {
    position:relative;
    margin:11px 0 0;
}
.member .box .login .input-info div .text {
    width:269px;
    height:36px;
    padding:0 13px;
    border:1px solid #ccc;
    color:#8c8c8c;
    font-size:13px;
    line-height:36px;
}
.member .box .login .input-info div label {
    position:absolute;
    top:9px;
    left:13px;
    color:#8c8c8c;
    font-size:13px;
    cursor:text;
}
.member .box .login button {
    float:right;
    margin:11px 0 0;
}
.member .box .save {
    position:relative;
    min-height:20px;
    margin:13px 0 0;
}
.member .box .save .checkbox {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.member .box .save label {
    display:inline-block;
    height:20px;
    padding:0 0 0 27px;
    background:#fff url('../img/etc/check-off.png') no-repeat left top;
}
.member .box .save label:hover {
    background:#fff url('../img/etc/check-ov.png') no-repeat left top;
}
.member .box .save label.on {
    background:#fff url('../img/etc/check-on.png') no-repeat left top;
    font-weight:bold;
}
.member .box .btn {
    margin:16px 0 0;
    padding:16px 0 0;
    border-top:1px solid #dbdbdb;
    font-size:0;
    text-align:center;
}
.member .box .facebook {
    display:table-cell;
    width:470px;
    height:62px;
    background:#516ca8;
    color:#fff;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
}
.member .box .facebook:hover {
    background:#344b8c;
}
.member .box .facebook img {
    margin:0 5px 0 0;
    vertical-align:middle;
}
.member .box .result-msg {
    padding:48px 0 53px;
    color:#444;
    font-size:16px;
    text-align:center;
}
.member .box .result-msg strong {
    color:#3e3d3c;
    font-size:22px;
}
.member .box .choice-join {
    padding:17px 0 0;
    font-size:0;
}
.member .box .guide {
    padding:3px 0 0;
}
.member .box .find-pw {
    margin:16px 0 0;
    padding:44px 0 0;
    border-top:1px solid #dbdbdb;
}
.member .box .find-pw .input-id {
    width:280px;
    margin:0 auto;
}
.member .box .find-pw .input-id.input-certify {
    width:auto;
    margin:0 0 0 81px;
}
.member .box .find-pw .input-id > p {
    padding:12px 0 0;
    color:#666;
}
.member .box .find-pw .input-id > p strong {
    color:#3e3d3c;
}
.member .box .find-pw .input-id > p a {
    margin:0 0 0 10px;
    color:#3e3d3c;
    text-decoration:underline;
}
.member.find-pw-page .box {
    padding-top:42px;
}
.member.find-pw-page .box .btn {
    border-top:none;
    margin:44px 0 0;
    padding:0;
}
.member.find-pw-page .txt-field {
    height:36px;
}
.member.find-pw-page .txt-field .text {
    height:34px;
    color:#8c8c8c;
    line-height:34px;
}
.member .certify {
    margin:16px 0 0;
    border-top:1px solid #dbdbdb;
}
.member .certify .form-element {
    margin:22px 0 0;
}
.member .certify .form-element label {
    color:#444;
}
.member .certify .form-element strong {
    color:#3e3d3c;
}
.member .certify .form-element p {
    padding:10px 0 0 27px;
    color:#888;
}
.member .certify .form-element span {
    color:#888;
}
.member .new-pw {
    margin:16px 0 0;
    padding:32px 0 0 64px;
    border-top:1px solid #dbdbdb;
}
.member .new-pw .txt-field {
    margin:11px 0 0;
}
.member .new-pw p {
    padding:8px 0 3px;
    color:#3e3d3c;
}
.member .pw-complete {
    padding:36px 0;
}
.member .pw-complete p {
    color:#222;
    font-size:18px;
    text-align:center;
}
.member.dormancy {}
.member.dormancy .msg {
    color:#222;
    font-size:20px;
}
.member.dormancy .msg.no-info {
    margin:30px 0 0;
    padding:50px 0 30px;
    border-top:1px solid #dbdbdb;
    text-align:center;
}
.member.dormancy .msg span {
    color:#3e3d3c;
}
.member.dormancy .date {
    overflow:hidden;
    margin:26px 0 0;
    padding:20px;
    background:#f4f4f4;
}
.member.dormancy .date li {
    float:left;
    margin:0 13px 0 0;
    color:#8c8c8c;
    line-height:22px;
}
.member.dormancy .date li.last {
    padding:0 0 0 12px;
    background:url('../img/etc/bar-1x10-d4.png') no-repeat left 9px;
}
.member.dormancy .date li strong {
    color:#444;
}
.member.dormancy .date li strong.dormancy-start {
    color:#3e3d3c;
}
.member.dormancy .guide {
    padding:15px 0 0;
    letter-spacing:-1px;
    line-height:22px;
}
.member.dormancy .guide strong {
    display:block;
    padding:10px 0 0;
}
.member.dormancy .btn {
    margin:30px 0 0;
    padding:40px 0 0;
}
.member.dormancy .btn .skinbtn {
    font-weight:normal;
}
.member.dormancy .release {
    padding-top:80px;
    padding-bottom:87px;
}
.member.dormancy .release .msg {
    text-align:center;
}
.member.dormancy .release .btn {
    padding:0;
    border:none;
}
.member.dormancy .cite-input {
    margin:30px 0 0;
    padding:25px 0 0 60px;
    border-top:1px solid #dbdbdb;
}
.member.dormancy .cite-input .tip {
    padding:0 0 13px;
    letter-spacing:-1px;
}
.member.dormancy .cite-input strong {
    margin:0 0 0 10px;
    color:#444;
    font-size:13px;
}
.member.dormancy .cite-input .txt-field {
    margin:0 4px 0 0;
    vertical-align:top;
}
.member.dormancy .cite-input .caution {
    margin:10px 0 0;
    color:#3e3d3c;
}
.member.dormancy .cite-input .chosen-container {
    margin:0;
}
.member.dormancy .cite-input .chosen-container .chosen-single {
    height:35px;
    line-height:34px;
}
.member.dormancy .cite-input > div {
    margin:10px 0 0;
}
.member.dormancy .certify {
    margin:30px 0 0;
    padding:25px 0 0;
    font-size:13px;
}
.member.dormancy .certify p {
    color:#444;
}
.member.dormancy .box .find-pw {
    margin:30px 0 0;
    padding:25px 0 0;
}
.member.dormancy .box .find-pw > p {
    padding:0 0 20px;
    color:#444;
    font-size:13px;
    letter-spacing:-1px;
    text-align:center;
}
.skinbtn.point1.l-confirm,
.skinbtn.point2.l-login,
.skinbtn.point2.fi-id {
    width:158px;
    height:87px;
    font-size:16px;
    font-weight:bold;
    line-height:85px;
}
.skinbtn.base3.l-join,
.skinbtn.default.l-findid,
.skinbtn.default.l-findpw,
.skinbtn.default.fi-pw,
.skinbtn.default.fi-login {
    width:149px;
    height:44px;
    line-height:42px;
    font-weight:bold;
}
.skinbtn.default.ucc-prev,
.skinbtn.base3.ucc-confirm,
.skinbtn.base3.uc-next,
.skinbtn.point2.fp-confirm,
.skinbtn.point2.fp-login,
.skinbtn.base3.fp-next {
    width:149px;
    height:50px;
    line-height:48px;
    font-size:14px;
    font-weight:bold;
}
.skinbtn.point2.l-nonmembersbuy {
    width:470px;
    height:62px;
    font-size:15px;
    font-weight:bold;
}
/*
    멤버끝
*/

/* 스킨 버튼 정의 */
.skinbtn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height:40px;
    padding:0 5px;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
    font-size:12px;
}
.skinbtn + .skinbtn {
    margin:0 0 0 10px;
}
.skinbtn.common {
    width:149px;
    height:50px;
    line-height:48px;
}
.skinbtn * {
    font-size:100%;
}
.skinbtn img {
    vertical-align:middle;
}
.skinbtn.point1 {
    border:1px solid #e5e5e5;
	    background:#e5e5e5;
    color:#333;
	
}
.skinbtn.point1:hover {
    border:1px solid #e5e5e5;
background:#e5e5e5;
    color:#333;
}
.skinbtn.point1.cart-orderselect {
    font-size:14px;
}
.skinbtn.point2 {
    background:#000;
    border: 1px solid #3e3d3c;
    color:#fff;
    font-weight:bold;

}
.skinbtn.point2:hover {
    background:#000;
    border:1px solid #000;
}
.skinbtn.point2.cart-orderall {
    font-size:14px;
}
.skinbtn.base1 {
    background:#c7c7c7;
    border:1px solid #c7c7c7;
    color:#fff;
}
.skinbtn.base1:hover {
    background:#979797;
    border:1px solid #979797;
}
.skinbtn.base2 {
    background:#979797;
    border:1px solid #979797;
    color:#fff;
}
.skinbtn.base2:hover {
    background:#626262;
    border:1px solid #626262;
}
.skinbtn.base3 {
    background:#6b6b6b;
    border:1px solid #6b6b6b;
    color:#fff;
}
.skinbtn.base3:hover {
    background:#444444;
    border:1px solid #444444;
}
.skinbtn.default {
    border:1px solid #a3a3a3;
    color:#666;
}
.skinbtn.default:hover {
    border:1px solid #444444;
    color:#222;
}
.normal-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width:auto;
    padding:0 10px !important;
    border:1px solid #dbdbdb;
    color:#6c6c6c;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
}
.normal-btn.small1 {
    height:24px;
    background:url('../img/etc/btn-small1-bg.png') repeat-x left top;
    font-size:11px !important;
    line-height:22px;
}
.normal-btn.small1:hover {
    background:#f8f8f8;
    border:1px solid #dbdbdb;
}
.normal-btn.small2 {
    height:28px;
    background:url('../img/etc/btn-small2-bg.png') repeat-x left top;
    font-size:12px !important;
    line-height:26px;
}
.normal-btn.small2:hover {
    background:#f8f8f8;
    border:1px solid #dbdbdb;
}
.normal-btn.small3 {
    height:35px;
    background:url('../img/etc/btn-small3-bg.png') repeat-x left top;
    border:1px solid #dbdbdb;
    font-size:12px !important;
    line-height:33px;
}
.normal-btn.small3:hover {
    background:#f8f8f8;
    border:1px solid #dbdbdb;
}
.normal-btn img {
    margin:0 0 0 5px;
    vertical-align:middle;
}
