@charset "UTF-8";

/*
	container
*/
.container {
    position:relative;
    width:1200px;
    margin:0 auto;
}

.container:after {
    content:"";
    display:block;
    clear:both;
}

#container {
    display:table;
    table-layout:fixed;
    position:relative;
    width:1200px;
    min-height:100%;
    margin:0 auto;
}
#container:after {
    content:"";
    display:block;
    clear:both;
}

/*
	scroll banner
*/
#scroll-left {
    position: fixed;
    top: 285px;
    right: 50%;
    margin: 0 620px 0 0;
}
#scroll-left.dim {
    margin-right:538px;
}

#scroll-right {
    position: fixed;
    z-index:11;
    top: 295px;
    left: 50%;
    margin: 0 0 0 610px;
}
#scroll-right.dim {
    margin-left:522px;
}

.side-move {
    position:fixed;
}
.side-lock {
    position:absolute;
    bottom:50px;
    top:auto;
}

/*
    회원가입시작
*/
.join {}
.join .top {
    overflow:hidden;
    padding:30px 0;
    border-bottom:1px solid #dbdbdb;
}
.join .top h2 {
    float:left;
    padding:0 0 0 3px;
    color:#111;
    font-size:24px;
}
.join .top > div {
    float:right;
    padding:10px 0 0;
}
.join .top > div span {
    margin:0 12px 0 0;
    padding:0 27px 0 0;
    background:url('../img/etc/join-step.png') no-repeat right 7px;
    color:#bdbcbc;
    font-size:16px;
}
.join .top > div span.this {
    background:url('../img/etc/join-step-this.png') no-repeat right 7px;
    color:#3e3d3c;
}
.join .top div span.this strong {}
.join .top div span.end {
    margin:0;
    padding:0;
    background:none;
}
.join .member .box h3.tit-sns {
    margin:50px 0 0;
    padding:40px 0 18px;
    border-top:1px solid #dbdbdb;
}
.join .login-msg {
    padding:15px 0 0;
    color:#666;
    font-size:12px;
}
.join .login-msg a {
    color:#3e3d3c;
    text-decoration:underline;
}
.join .terms {
    width:736px;
    margin:0 auto;
}
.join .terms .member{
    width:100%;
    margin:0 auto;
    padding:0;
}
.join .terms h3 {
    margin:0 0 38px;
    padding:64px 0 13px;
    border-bottom:1px solid #717171;
    color:#111;
    font-size:20px;
    font-weight:normal;
}
.join .terms .all-agree {
    position:relative;
    min-height:20px;
    color:#999;
    font-size:13px;
}
.join .terms .all-agree .checkbox {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.join .terms .all-agree label {
    display:block;
    min-height:20px;
    padding:0 0 0 27px;
    background:#fff url('../img/etc/check-off.png') no-repeat left top;
}
.join .terms .all-agree label:hover {
    background:#fff url('../img/etc/check-ov.png') no-repeat left top;
}
.join .terms .all-agree label.on {
    background:#fff url('../img/etc/check-on.png') no-repeat left top;
}
.join .terms .all-agree label span {
    color:#333;
    font-size:14px;
}
.join .terms .all-agree label.on {
    font-weight:bold;
}
.join .terms .terms-view {
    padding:32px 0 0;
}
.join .terms .terms-view p {
    position:relative;
    min-height:20px;
    color:#333;
    font-size:13px;
}
.join .terms .terms-view p .checkbox {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.join .terms .terms-view p label {
    display:inline-block;
    min-height:20px;
    padding:0 0 0 27px;
    background:#fff url(../img/etc/check-off.png) no-repeat left top;
}
.join .terms .terms-view p label:hover {
    background:#fff url(../img/etc/check-ov.png) no-repeat left top;
}
.join .terms .terms-view p label.on {
    background:#fff url(../img/etc/check-on.png) no-repeat left top;
}
.join .terms .terms-view p label span {
    color:#3e3d3c;
    font-size:13px;
}
.join .terms .terms-view p label.on {
    font-weight:bold;
}
.join .terms .terms-view p label span.option {
    color:#2e95ff;
}
.join .terms .terms-view p a {
    color:#3e3d3c;
    font-size:12px;
    text-decoration:underline;
}
.join .terms .terms-view > div {
    overflow-x:hidden;
    overflow-y:auto;
    height:89px;
    margin:10px 0 0;
    padding:20px;
    border:1px solid #e6e6e6;
    border-top:1px solid #717171;
    line-height:18px;
}
.join .terms .terms-view .consignment-box {
    overflow:hidden;
    height:auto;
    padding:0;
    border:none;
    border-top:1px solid #717171;
}
.join .terms .terms-view .consignment-box table {
    width:100%;
}
.join .terms .terms-view .consignment-box table th {
    height:49px;
    padding:0 0 0 30px;
    background:#f9f9f9;
    border-bottom:1px solid #e6e6e6;
    color:#333;
    text-align:left;
}
.join .terms .terms-view .consignment-box table th:first-child {
    padding:0;
    border-right:1px solid #e6e6e6;
    text-align:center;
}
.join .terms .terms-view .consignment-box table td {
    padding:0 0 0 30px;
    border-bottom:1px solid #e6e6e6;
    color:#333;
}
.join .terms .terms-view .consignment-box table td:first-child {
    padding:0;
    text-align:center;
    border-right:1px solid #e6e6e6;
}
.join .terms .terms-view .consignment-box table td div {
    overflow-x:hidden;
    overflow-y:auto;
    height:64px;
    padding:15px 0 10px;
}
.join .terms .msg {
    margin:55px 0 0;
    text-align:center;
}
.join .terms .msg span {
    display:inline-block;
    min-height:17px;
    padding:0 0 0 19px;
    background:#fff url('../img/icon/caution-1.png') no-repeat left 4px;
    color:#3e3d3c;
    line-height:20px;
}
.join .terms .select-certification {
    padding:42px 0 0;
}
.join .terms .select-certification h3 {
    margin:0;
    padding:0;
    border:none;
}
.join .terms .select-certification div {
    margin:15px 0 0;
    padding:40px 0;
    border:1px solid #e6e6e6;
    border-top:1px solid #717171;
    text-align:center;
}
.join .terms .select-certification div .form-element {
    margin:0 15px;
}
.join .btn {
    padding:40px 0 0;
    font-size:0;
    text-align:center;
}
.join .join-form {
    width:736px;
    margin:0 auto;
}
.join-form .border-top {
    width: 100%;
    border-top: 1px solid #717171;
}
.join-form .border-top .choice-check {
    padding-top:20px;
    text-align:center;
}
.join-form .border-top .choice-check .form-element:last-child {
    margin-left:50px;
}
.join-form .tit {
    overflow:hidden;
    padding:63px 0 9px;
}
.join-form .tit h3 {
    float:left;
    color:#000;
    font-size:20px;
    font-weight:normal;
}
.join-form .tit p {
    float:right;
    margin:17px 0 0;
    padding:0 0 0 12px;
    background:#fff url('../img/etc/squre-4x4-red.png') no-repeat left 6px;
    color:#999;
    font-size:11px;
}
.join-form .table1 {}
.join-form .table1 table {}
.join .join-form .table1 > table > tbody > tr > th {
    padding:20px 0 0 35px;
    color:#333;
    font-size:13px;
    vertical-align:top;
}
.join-form .table1 table tbody th.required {
    background:#f9f9f9 url('../img/etc/squre-4x4-red.png') no-repeat 23px 28px;
}
.join .join-form .table1 > table > tbody > tr > td {
    padding:12px 20px;
}
.join .join-form .table1 table tbody td .txt-field {
    position:relative;
    width:356px;
}
.join .join-form .table1 table tbody td .txt-field .text.check-id {
    width:300px;
}
.join .join-form .table1 table tbody td .txt-field label {
    position:absolute;
    top:7px;
    left:10px;
    color:#a9a9a9;
    letter-spacing:-1px;
    cursor:text;
}
.join-form .table1 table tbody td .msg {
    padding:8px 0 0;
}
.join-form .table1 table tbody td .msg em {
    color:#888;
}
.join-form .table1 table tbody td .msg strong {
    margin:0 10px 0 0;
}
.join-form .table1 table tbody td .accept {
    float:right;
    width:14px;
    height:100%;
    background:url('../img/etc/accept.png') no-repeat left 50%;
    vertical-align:middle;
}
.join-form .table1 table tbody td .email {
    clear:both;
    width:100%;
    margin-bottom: 10px;
    height:35px;
}
.join-form .table1 table tbody td .email .txt-field ,.order-page .how-to-pay .method .receipt .wu .email .txt-field ,.cash-receipt-request-layer .email .txt-field{
    float:left;
    width:226px;
}
.join-form .table1 table tbody td .email .choice-select ,  .order-page .how-to-pay .method .receipt .wu .choice-select,  .cash-receipt-request-layer .choice-select{
    float:left;
    margin:0 0 0 7px;
}
.join-form .table1 table tbody td .birth {
    clear:both;
    width:100%;
    margin-bottom: 10px;
    height:35px;
}
.join-form .table1 table tbody td .birth .txt-field {
    float:left;
    width:226px;
}
.join-form .table1 table tbody td .birth .choice-select {
    float:left;
    margin:0 7px 0 0;
}
.join .join-form .table1 table tbody td .chosen-container {
    margin:0;
}
.join .join-form .table1 table tbody td .chosen-container .chosen-single {
    height:35px;
    line-height:34px;
}
.join-form .table1 table tbody td div.form-element {
    margin:10px 0 0;
}
.join-form .table1 table tbody td .post {
    overflow:hidden;
}
.join-form .table1 table tbody td .post .txt-field {
    float:left;
    width:133px;
}
.join-form .table1 table tbody td .post .post-search {
    float:left;
    margin:0 0 0 7px;
}
.join-form .table1 table tbody td .address {
    margin:8px 0;
}
.join .join-form .table1 table tbody td span.form-element {
    display:inline-block;
    min-height:20px;
    margin-right:15px;
}
.join-form .table1 table tbody td .choice-check {
    padding:8px 0 7px;
}
.join-form .table1 table tbody td .interests .form-element {
    display:inline-block;
    width:45%;
    margin:0 0 15px;
}
.join-form .table1 table tbody td textarea {
    width:510px;
    height:73px;
    padding:10px;
    border:1px solid #d0d0d0;
    line-height:18px;
}
.join-form .table1 table tbody td label.on[for="eventSms"],
.join-form .table1 table tbody td label.on[for="eventMail"] {
    font-weight: bold;
}
.join-form .btn {
    padding:40px 0 0;
}
.join-complete {
    width:469px;
    margin:50px auto 0;
    padding:0 55px 59px;
    background:url('../img/etc/join-complete.png') no-repeat center 59px;
    border:1px solid #dbdbdb;
    text-align:center;
}
.join-complete .txt1 {
    padding:128px 0 0;
    color:#222;
    font-size:20px;
}
.join-complete .txt1 span {
    color:#3e3d3c;
}
.join-complete .txt2 {
    margin:0 0 27px;
    padding:15px 0 30px;
    border-bottom:1px solid #dbdbdb;
    letter-spacing:-1px;
    line-height:20px;
}
.join-complete .txt2 strong {
    color:#444;
}
.join-complete .btn {
    padding:0;
    font-size:0;
}
.join-complete div a {
    margin:0 6px;
}
.join.wait {
    width:579px;
    margin:0 auto;
    padding:60px 0 0;
}
.join.wait h2 {
    color:#222;
    font-size:28px;
}
.join.wait .join-complete {
    margin:18px 0 0;
    background:url('../img/etc/join-wait.png') no-repeat center 59px;
}
.join.wait .join-complete .txt1 {
    padding:97px 0 0;
}
.join.wait .join-complete .child-guide {
    padding:18px;
    border:1px solid #ccc;
    text-align:left;
}
.join.wait .join-complete .child-guide p {
    line-height:20px;
}
.join.wait .join-complete .child-guide p strong {
    display:block;
    min-height:17px;
    padding:0 0 0 19px;
    background:#fff url('../img/icon/caution-1.png') no-repeat left 4px;
    color:#3e3d3c;
}
.join.wait .join-complete .child-guide a.link {
    color:#3e3d3c;
    text-decoration:underline;
}
.join.wait .join-complete .child-guide a.btn {
    margin:10px 0 0;
}
.join.wait .join-complete .btn {
    margin:30px 0 0;
}
.join .skinbtn.point1.ja-prev,
.join .skinbtn.point2.ja-next,
.join .skinbtn.point1.j-cancel,
.join .skinbtn.point2.j-join {
    width:203px;
    height:55px;
    line-height:53px;
    font-size:14px;
}
.join .skinbtn.default.jm-14join,
.join .skinbtn.default.jm-businessjoin {
    width:149px;
    height:87px;
    line-height:85px;
}
.join .skinbtn.point2.jm-join {
    width:149px;
    height:87px;
    padding:25px 0 0;
}
.join .skinbtn.point2.jm-join span {
    color: #fedddd;
    font-size: 11px;
}
.join .skinbtn.base3.jw-confirm,
.join .skinbtn.default.jo-home,
.join .skinbtn.point2.jo-login {
    width:188px;
    height:62px;
    line-height:60px;
    font-size:14px;
}
.join .skinbtn.base3.jw-confirm {
    font-size:14px;
    font-weight:bold;
}

/*
    회원가입끝
*/
